header .navbar-nav .nav-link {
    color: #6C6C91;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .2s ease;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

header .navbar-brand {
    color: #6C6C91;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
}


header .dropdown  {
    color: #6C6C91;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

header .dropdown-item {
    color: #6C6C91;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

header .nav-link {
    color: #6C6C91;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}