{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{{ block.super }}
{{ form.media }}
<div class="container">
    <h1 class="mb-3">Записаться к мастеру на услугу</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="service" value="{{ service_id }}">
        <input type="hidden" name="master" value="{{ pk }}">
        <p><a href="{% url 'appointment_create_success' %}" class="btn btn-outline-success"> Записаться</a></p>
    </form>
</div>
<p id="schedule" hidden="hidden">{{ schedule }}</p>
{% endblock %}

{% block js %}
<script type="text/javascript">
  // JavaScript code
  const dictString = document.getElementById('schedule').textContent;
  const timesDict = eval("(" + dictString + ")");
  const dateInput = document.getElementById('id_date');
  const timeSelect = document.getElementById('id_time');

  // Listen for changes on the date input
  dateInput.addEventListener('change', () => {
    // Get the selected date
    const selectedDate = dateInput.value;

    // Clear the time select options
    timeSelect.innerHTML = '';

    // Check if the selected date is in the dictionary
    if (timesDict.hasOwnProperty(selectedDate)) {
      // Get the available times for the selected date
      const availableTimes = Object.keys(timesDict[selectedDate])
        .filter(time => timesDict[selectedDate][time] === 'available');

      // Update the time select options
      timeSelect.innerHTML = availableTimes
        .map(time => `<option value="${time}">${time}</option>`)
        .join('');
    }
  });
</script>

{% endblock %}

