{% extends "base.html" %}

{% block title %}Список статей{% endblock title %}
{% block content %}
{% if user.is_staff %}
<p><a href="{% url 'blog_new' %}">+ Добавить пост</a></p>
 {% endif %}
{% for blog in blog_list %}
<div class="container">
    <div class="row d-flex">
        <div class="col-xl-8 py-5 px-md-5">
            <div class="col-md-12">
                <div class="blog-entry ftco-animate d-md-flex">
                    <div class="text text-2 pl-md-4">
                        <h3 class="mb-2"><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                        <div class="meta-wrap">
                            <p class="meta">
                                <span><i class="icon-user mr-2"></i>by {{ blog.author }}</span>
                                <span><i class="icon-calendar mr-2"></i>{{ blog.date }}</span>
                                <span><i class="icon-comment2 mr-2"></i>{{ blog.comment_set.all.count }} комментариев</span>
                            </p>
                        </div>
                        <p class="mb-4">{{ blog.body }}</p>
                        <p><a href="{% url 'blog_detail' blog.pk %}" class="btn-custom">Читать дальше <span
                                class="ion-ios-arrow-forward"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endfor %}
{% endblock content %}



