{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-5" style="margin: 0 auto;">
    <h1>Выбор мастера</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
            {% for master in object_list %}
            <div class="col">
                <div class="card text-center" style="width: 20rem">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body" style="margin: 0 0 2px">
                        <h5 class="card-title {% if master.pk == master_pk %}active{% endif %}">{{ master.name }}</h5>
                        <p class="card-text">{{ master.description }} </p>
                        <p><a href="tel:+375(33)674-87-15"><i class="bi bi-telephone-fill"></i>+375(33)674-87-15</a></p>
                        <p><a href="{% url 'appointment_create' %}" class="btn btn-outline-primary">Записаться</a></p>
                        {% if user.is_staff %}
                        <p><a href="{% url 'master_edit' master.pk %}" class="btn btn-outline-info">Изменить мастера</a></p>
                        <p><a href="{% url 'master_delete' master.pk %}" class="btn btn-outline-warning">Удалить мастера</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if user.is_staff %}
        <p style="margin: 25px;"><a href="{% url 'master_new' %}" class="btn btn-outline-success"> Добавить мастера</a></p>
        {% endif %}
    </form>
</div>
{% endblock content %}