{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-8" style="margin: 0 auto;">
    <h1>Выбор услуги</h1>
    <div class="table-responsive">
        <table class="table table-borderless align-middle">
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Цена</th>
                    <th>Длительность</th>
                    <th>Записаться</th>
                    {% if user.is_staff %}
                    <th>Изменить услугу</th>
                    <th>Удалить услугу</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>
                        <a class="title {% if service.pk == service_pk %}active{% endif %}"
                           href="{% url 'service_detail' service.pk %}">{{ service.name }}</a>
                    </td>
                    <td>{{ service.price }} рублей</td>
                    <td>{{ service.duration }} часа</td>
                    <td><a href="{% url 'service_detail' service.pk %}" class="btn btn-outline-success">Записаться</a></td>
                    {% if user.is_staff %}
                    <td><a href="{% url 'service_update' service.pk %}" class="btn btn-outline-info">Изменить услугу</a></td>
                    <td><a href="{% url 'service_delete' service.pk %}" class="btn btn-outline-warning">Удалить услугу</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if user.is_staff %}
    <p><a href="{% url 'service_create' %}" class="btn btn-outline-success"> Добавить услугу</a></p>
    {% endif %}
</div>
{% endblock %}