{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background: url('/media/images/1626996593_10-p-fon-dlya-vizitki-rozovii-10.jpg') no-repeat;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-size: cover; /* Современные браузеры */
    }

</style>
<div class="container">
    <h1>{{ object.name }}</h1>
    <form action="{% url 'master_list' service.pk %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                <p class="lead">{{ object.description }}</p>
                <p class="lead">Длительность: {{ object.duration }} часа</p>
                <p class="lead">Цена: {{ object.price }} рублей</p>
                <a href="{% url 'master_list' service.pk %}" class="btn btn-outline-success">Записаться</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}